h1 {
    color: rgb(36, 194, 62);
    text-align: center;
    font-family: Georgia;
    font-size: 3rem;
    text-decoration: underline;
}

body {
    background: linear-gradient(180deg,#FFEEEE, #DDEFBB);
    height: 100vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 700px;
}
p {
    font-family: Georgia;
    font-size: 18px;
}
h2 {
    color: red;
    font-size: 24px;
}

a {
    color: rgb(36, 194, 62);
    font-size: 18px;
}
